
<div class="container" ng-init="getStartingPet()">

  <div class="search-container">


  <div class="col-md-3 col">
    <select class="btn btn-default dropdown-toggle btn-lg" ng-options="type for type in types" ng-change="getRandomPet()" ng-model="selectedType">
      <option value="">Select type</option>
    </select>
    <button class="btn btn-default btn-lg"  ng-click="getRandomPet()" >Search</button>
  </div>
  <div class="col-md-7 col"></div>
  <div class="col-md-2 col">
    <button class="btn btn-default btn-lg click-count" ><a href="#faves">&#9825; {{favoriteCount}}</a></button>
  </div>
  </div>

  <div class="col-md-12 featured-container">
    <h2>Featured Pet</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>ID</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img ng-src="{{animal.media.photos.photo[3].$t}}"></td>
          <td class="idCell">{{animal.name.$t}}</td>
          <td class="idCell">{{animal.id.$t}}</td>
          <td class="descCell">{{animal.description.$t}}</td>
          <td class="heartCell"><button class="btn btn-primary btn-md" ng-click="addFavorite()">Favorite</button></td>
        </tr>
      </tbody>
    </table>
  </div>






</div>
